.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  position: relative;
  &__side {
    transition: all 0.9s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 52rem;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    backface-visibility: hidden;
    &--front {
      &-1 &-2 &-3 {
        background-color: $color-white;
      }
    }
    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front side of styling
  &__img {
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/nat-5.jpg");
      height: 23rem;
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        ),
        url("../img/nat-6.jpg");
      height: 23rem;
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/nat-7.jpg");
      height: 23rem;
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;
    font-size: 2.8rem;
    font-weight: 300;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-green-light, 0.85),
        rgba($color-green-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 1rem 3rem;
    ul {
      width: 80%;
      list-style: none;
      margin: 0 auto;
      li {
        text-align: center;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  // BACK side of styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
  &__price-box {
    margin-bottom: 3rem;
    color: $color-white;
    text-align: center;
  }
  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    border-radius: 3px;
    overflow: hidden;
    &__side {
      transition: all 0.9s ease;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: none;

      box-shadow: none;

      &--front {
        height: auto;
      }

      &__deatils {
        padding: 7rem 4rem 4rem 4rem;
        li {
          padding: 2rem;
        }
      }

      &--back {
        transform: rotateY(0);
        height: 30rem;
        border-radius: none !important;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }
    &:hover &__side--front {
      transform: rotateY(0);
      height: auto;
    }
    &:hover &__side--back {
      transform: rotateY(0);
    }

    &__price-box {
      margin-bottom: 2rem;
    }

    &__price-value {
      font-size: 4rem;
      font-weight: 100;
    }
  }
}
